@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

* {
  color: #111111;
}

html,
body {
  background: #ffffff;
  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
}

/* Inputs ke text ko black rakho */
input,
textarea,
select {
  color: #111111 !important;
  background: #ffffff !important;
}

/* Placeholder color */
input::placeholder,
textarea::placeholder {
  color: #777777;
}

/* Buttons text */
button {
  color: inherit;
}

/* Links */
a {
  color: inherit;
}
